{% extends"@EasyAdmin/page/content.html.twig" %}


{% block content_title %}
 {# <a class="nav-link" href={{path('admin_resa')}}>Mes réservations</a> #}

{% endblock %}

{# {% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %} #}

{% block main %}


{% endblock %}