




 {# <form action="{{ action.linkUrl }}" method="POST" class="me-2">
    {{ include('@EasyAdmin/crud/action.html.twig') }}
</form>  #}



{% if app.user %}

 <h1>Annulation effectuée avec succès</h1> 

{% endif %}