{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<h2 class="text-center">Location de salles de formation</h2>
<br>

<h5 class="text-center">Location de salles de formation pour vos rendez-vous avec vos collaborateurs,
 donner une formation ou organiser un évènement</h5>
<br>

{# <h3 class="text-center">Voici un aperçu de nos dernières salles</h3> #}


{% include "partials/_salles.html.twig" %}
 

{% endblock %}


 				