{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h3>Inscrivez-vous pour accéder à toutes nos salles </h3>


{% include "partials/_salles.html.twig" %}
 

{% endblock %}


 				