{% extends 'base.html.twig' %}

{% block title %}Salles{% endblock %}

{% block body %}


<h3 class ="text-center">Toutes nos salles</h3>


{% include "partials/_salles.html.twig" %}


{% endblock %}
